<div class="row">

    <div class="col-md-4 custom-file">
        <h4>Subir Archivo</h4>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="" id="input-custom-file" (change)="onFile($event)">
        </form>
        <label for="Subier Archivo"></label>
    </div>

    <div class="col-md-8">
        <h4>Cargar Archivo</h4>
        <button class="btn btn-success" (click)="CargarArchivo()" *ngIf="cargados">Cargar</button>
        <button class="btn btn-danger"> Cancelar </button>
        <div>
            <div class="progress" *ngIf="cargados">
                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivos[0].progreso + '%'}"></div>
            </div>
        </div>


    </div>

</div>